.ignore
node_modules
package-lock.json
.env
kubeconfig.yaml
KUBECONFIG
aws-auth-configmap.yaml
.terraform
.terraform.lock.hcl
terraform.plan
terraform.tfvars
tfplan
*.tfstate
*.tfstate.backup
*.tfstate