<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hedgehog</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <h1>Hedgehog</h1>
    <img src="img/hedgehog-1.jpg" alt="A Hedgehog">

    <footer>version: {{ version }}</footer>
</body>

</html>
